<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
            </style>
    <title>Show</title>
  </head>
  <body>
    <div id='container-mob'>
      <header>
        <h1>Hai-QR</h1>
      </header>
      <nav>
        <a href="/">Home</a>
        <a href="/haikus/">Explore</a>
          <a href="/haikus/new">Create</a>
            <a href="/users/dashboard">Dashboard</a>
            <a href="/haikus/search">Search</a>
            <a href="/users/logout">Logout</a>
            <a href="/api/haikus">API</a>
        </nav>
 <div id=poem-body>
    <h1 id='title'><%=haiku.title %> <span id='author'> by <%= haiku.author%></span></h1>
   <p class='line'><%= haiku.line1%></p>
    <br />
    <p class='line'><%= haiku.line2%></p>
    <br />
    <p class='line'><%= haiku.line3%></p>
    <br />
    <p class='date'><%= haiku.createdAt%></p>
    <!-- <p class='date'><%= haiku.updatedAt%></p> -->
  </div>
  <div id='qr-code'>

    <p><img id='qrcode' src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=<%=haiku.line1,%><%=haiku.line2,%><%=haiku.line3%>"  download /"></p>


  </div>
  
<footer>


    <a href=`http://www.facebook.com/share.php?u=${haikus/<%=haiku._id%>}`>share in facebook</a>  
    <a href=`http://www.facebook.com/share.php?u=${haikus/<%=haiku._id%>}`>share in Linkedin</a>  
    <p>Concept and Software Development by Marlon Barrios Solano</p>
  </footer>
</footer>
  </div>
  </body>
</html>