<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
            </style>
    <title>Hello <%= user.username %></title>
</head>
<body>
    <header>
        <div id='container'>
        <h1>Hello <%= user.username %></h1>
        
        <nav class='nav-links'>
            <a href="/">About</a>    
            <a href="/haikus">Explore</a>    
            <a href="/haikus/new">Create</a>    
            <a href="/users/logout">Logout</a>  

        </nav>
        <h3>Here are the Haikus uploaded by <%= user.username %></h3>
        <% haikus.forEach(haiku => { %>
            <li>
              <a href="/haikus/<%= haiku.id %>"> <%=haiku.title %> </a>
              <form action="/haikus/<%=haiku.id %>?_method=DELETE" method="POST">
            <input id='delete' type="submit" value="delete" />
          </form>
          <a href="/haikus/<%=haiku.id %>/edit">Edit</a>
            </li>
            <% }) %>




</div>

</div>
</body>
</html>
